<%= form_for(@memory) do |f| %>
  <% if @memory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@memory.errors.count, "error") %> prohibited this memory from being saved:</h2>

      <ul>
      <% @memory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="field">
      <%= f.label :name, class: "form-label"%><br>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <span data-tooltip aria-haspopup="true" class="has-tip" title="Comma seperate keywords">
      <%= f.label :keywords, class: "form-label" %><br>
      <%= f.text_field :keywords %>
    </span>
    </div>

    <div class="field">
      <%= f.label :description, class: "form-label" %><br>
      <%= f.text_area :description %>
    </div>
  </div>
   <%= f.label :image, class: "form-label" %><br>
  <div class="row">

    <div class="medium-4 columns">
      <div class="field">
       <%= f.file_field :image, class: "button round right" %>
      </div>
    </div>

    <div class="actions large-4 columns">
      <%= f.submit class: "button round left" %>
    </div>
  </div>

<% end %>
