<div class="small-12 columns">
  <div class="row small-12">
    <h2>Recently added</h2>
  </div>
  <div class="row">
    <% @recent_memories.each do |memory| %>
      <div class="large-2 medium-4 small-6 columns memory" id="memory-<%= memory.id %>">
        <%= link_to image_tag(memory.image.url, class: "memory-image"), memory %>
      </div>
    <% end %>
  </div>
</div>

<div class="small-12 columns panel">
  <div class="row">
    <div class="medium-6 small-12 columns">
        <h2>Your Recent Memories</h2>
    </div>
     <div class="medium-6 small-12 columns">
       <%= link_to 'New Memory', new_memory_path, class: "radius button" %>
     </div>
  </div>
  <div class="row">
    <% @personal_memories.each do |memory| %>
    <div class="large-4 medium-6 small-12 columns memory" id="memory-<%= memory.id %>">
      <%= link_to image_tag(memory.image.url, class: "memory-image"), memory %>


      <div class="panel">
        <h5><%= memory.name %></h5>
        <h6 class="subheader"><%= memory.keywords %></h6>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="small-12 columns panel">
  <div class="row">
    <h2>Replies to your memory</h2>
  </div>
  <div class="row">
    <% @replies.each do |memory, replies| %>
      <div class="medium-2 columns">
        <%= link_to image_tag(memory.image.url, class: "memory-image"), memory %>
      </div>

      <div class="medium-10 columns">

          <% replies.each do |reply| %>
            <div class="comment panel callout radius">
              <div class="row">
                <div class="small-6 columns">
                <b><%= reply.author.username %></b> says:
                </div>
                <div class="small-6 columns">
                  <%= reply.created_at.strftime("%m/%-d/%Y") %>
                </div>
              </div>

              <div class="row">
                <div class="small-12 columns">
                  <%= reply.body %>
                </div>
              </div>

              <div class="row">
                <div class="small-6 columns">
                  <%= form_for([reply.memory, reply]) do |f| %>
                    <%= f.submit 'Accept', class: "button success" %>
                    <%= f.hidden_field :approved, value: true %>
                  <% end %>
                </div>
                <div class="small-6 columns">
                  <%= form_for([reply.memory, reply]) do |f| %>
                    <%= f.hidden_field :approved, value: true %>
                    <%= f.submit 'Delete', class: "button alert", method: :delete, data: { confirm: 'Are you sure?' }, class: "button alert" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
