<p id="notice"><%= notice %></p>

<h1>Listing Memories</h1>

<table id="memory">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Keywords</th>
      <th>Description</th>
      <th>Creator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memories.each do |memory| %>
      <tr>
        <td><%= image_tag memory.image_file_name, class: "memory-image" %></td>
        <td><%= memory.name %></td>
        <td><%= memory.keywords %></td>
        <td><%= memory.description %></td>
        <td><%= memory.creator %></td>
        <td><%= link_to 'Show', memory %></td>
        <td><%= link_to 'Edit', edit_memory_path(memory) %></td>
        <td><%= link_to 'Destroy', memory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Memory', new_memory_path %>
