<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @memory.name %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @memory.keywords %>
</p>

<p>
  <strong>Description:</strong>
  <%= @memory.description %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @memory.creator %>
</p>

<%= render @memory.comments %>

<%= render 'comments/form' %>

<% if policy(@memory).edit? %>
  <%= link_to 'Edit', edit_memory_path(@memory) %> |
<% end %>
<%= link_to 'Back', memories_path %>
