<div class="memory" id="memory-<%= @memory.id %>">
  <div class="panel callout radius">
    <p>
      <strong>Name:</strong>
      <em><%= @memory.name %></em>
    </p>
    <%= image_tag @memory.image.url, class: "memory-image" %>
    <p>
      <strong>Keywords:</strong>
      <%= @memory.keywords %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @memory.description %>
    </p>
    <p>
      <strong>Author:</strong>
      <%= @memory.creator.username %>
    </p>
    <ul class="button-group">
      <% if policy(@memory).edit? %>
        <%= link_to 'Edit', edit_memory_path(@memory), class: "button round" %>
      <% end %>
      <% if current_user.role == 'admin' %>
        <%= link_to 'Delete Memory', @memory, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </ul>
 </div>

  <div class="row">
    <div class="large-8 columns">

    <h3> Comments: </h3>
    <% @replies.each do |reply| %>
      <div class="panel radius">
        <%= reply.body %> <br />
        <% if current_user.role == 'admin' %>
          <%= link_to 'Delete Comment', @reply, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <% end %>

    <%= render 'comments/form' %>

    </div>
      <div class="large-4 columns">
        <% @related_memories.each do |related_memory| %>
          <div class="row">
            <div class="small-12 columns memory">
              <%= link_to(image_tag(related_memory.image.url), related_memory) %>
            </div>
          </div>
       <% end %>
      </div>
    </div>
  </div>
</div>
