<!DOCTYPE html>
<html>
<head>
  <title>Thundrs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |key, value| %>
  <div class"alert-box round <%= flash_case(key) %>">
    <%= value %>
  </div>
<% end %>

<% if user_signed_in? %>
  <li>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
  <li>
    <%= link_to('Sign up', new_user_registration_path) %>
    or
    <%= link_to('Login', new_user_session_path) %>
  </li>
  <% end %>
<%= yield %>

</body>
</html>
